/*
!/.config
/.config/*

!/.config/bspwm/
!/.config/dunst/
!/.config/polybar/
!/.config/sxhkd/
!./.xbindkeysrc
!./.xinitrc
!.kernel-config-4.20

!/.local/
/.local/*
!/.local/share/
/.local/share/*
!/.local/share/fonts/



*.gitignore
